.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  @media (max-width: $tablet) and (orientation: portrait) {
    transform: scale(0.6);
  }

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }
}

.result__image {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &--flamingo {
    left: calc(50% - 22rem);
    bottom: 17%;
    width: 24rem;
    height: 24rem;
    transform-origin: bottom right;
    transform: rotate(-25deg) translateY(12rem);
    opacity: 0;
    transition-property: transform, opacity;
    transition-timing-function: $easing-decelerate, ease-in;
    transition-duration: $duration-long, $duration-short;
    transition-delay: $delay-short, $delay-short;

    .screen--result.screen--show & {
      transform: none;
      opacity: 1;
    }

    .screen--result.screen--show & img {
      animation: move-flamingo $duration-extra-long $easing-in-out $delay-extra-long infinite alternate;
      transform-origin: 60% 40%;

      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }

  &--suitcase {
    left: calc(50% - 18.5rem);
    bottom: 17%;
    width: 31rem;
    height: 31rem;
    transform-origin: bottom;
    transform: scale(0);
    transition-property: transform;
    transition-timing-function: $easing-bouncing;
    transition-duration: $duration-long;
    transition-delay: $delay-short;
    overflow: hidden;

    .screen--result.screen--show & {
      transform: scale(1);
    }
  }

  &--leaf-green {
    left: calc(50% - 2.8rem);
    bottom: 19.5%;
    width: 29rem;
    height: 20rem;
    transform-origin: left bottom;
    transform: rotate(-18deg);
    opacity: 0;
    transition-property: transform, opacity;
    transition-timing-function: $easing-decelerate, ease-in;
    transition-duration: $duration-long, $duration-short;
    transition-delay: $delay-long, $delay-long;

    .screen--result.screen--show & {
      transform: none;
      opacity: 1;
    }

    img {
      transform-origin: left bottom;
    }

    .screen--result.screen--show & img {
      animation: move-leaf-green $duration-extra-long $easing-in-out-revert $delay-short 3 both;

      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }

  &--leaf-blue-1 {
    left: 50%;
    bottom: 27%;
    width: 25rem;
    height: 25rem;
    transform-origin: left bottom;
    transform: rotate(-20deg);
    opacity: 0;
    transition-property: transform, opacity;
    transition-timing-function: $easing-decelerate, ease-in;
    transition-duration: $duration-long, $duration-short;
    transition-delay: $delay-medium, $delay-medium;

    .screen--result.screen--show & {
      transform: none;
      opacity: 1;
    }

    img {
      transform-origin: left center;
    }

    .screen--result.screen--show & img {
      animation: move-leaf-blue-1 $duration-extra-long $easing-in-out-revert $delay-extra-short 3 both;

      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }

  &--leaf-blue-2 {
    left: calc(50% - 32rem);
    bottom: 17%;
    width: 26rem;
    height: 22rem;
    transform-origin: right bottom;
    transform: rotate(45deg);
    opacity: 0;
    transition-property: transform, opacity;
    transition-timing-function: $easing-decelerate, ease-in;
    transition-duration: $duration-long, $duration-short;
    transition-delay: $delay-medium, $delay-medium;

    .screen--result.screen--show & {
      transform: none;
      opacity: 1;
    }

    img {
      transform-origin: right center;
    }

    .screen--result.screen--show & img {
      animation: move-leaf-blue-2 $duration-extra-long $easing-in-out-revert $delay-short 3 both;

      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }

  &--full {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      object-fit: cover;
    }
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  .screen:not(.screen--show) & {
    opacity: 0;
  }

  .screen.screen--show & {
    transition: opacity $duration-extra-short ease-in $delay-short;
  }

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    .screen:not(.screen--show) & {
      opacity: 0;
    }

    .screen.screen--show & {
      transition: opacity $duration-short ease-in $delay-short;
      animation: rotate-next-button $duration-medium $easing-decelerate $delay-short both;

      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      transition-property: transform, background-color, border-color;
      transition-timing-function: ease-out;
      transition-duration: $duration-short;
      z-index: -1;
    }
  }

  svg {
    position: absolute;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;
    transition: transform $duration-long $easing-decelerate;
    transform-origin: calc(50% - 0.3rem) center;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      transform: scale(1.12);
    }

    svg {
      transform: rotate(-360deg);
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}

@keyframes move-flamingo {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  100% {
    transform: rotate(-3deg) translateY(1rem);
  }
}

@keyframes move-leaf-green {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}

@keyframes move-leaf-blue-1 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-4deg);
  }
}

@keyframes move-leaf-blue-2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-3deg);
  }
}
